
<div class="container country-detail">
  
        
           
            <p class="country-details">  <span class="country-name-detail">{{data.name.common}} </span></p>
            <img [src]="[data.flags.png]" alt="Not found">
            <p class="country-details"> Capital is : <span class="country-name">{{data.capital}}</span></p>
            <p class="country-details">Region is : <span class="country-name">{{data.region}}</span></p>
            <p class="country-details">Status is : <span class="country-name">{{data.status}}</span></p>
          
      <a >Border Country</a>
  
    
</div>