.country-detail{
    padding-top:70px;
    margin-left:35%
}
.country-details{
    padding-top:5px;
    color:#f00;
    font-weight:bold
}
.country-name{
    color:#000;
    font-weight:normal
}
.country-name-detail{
    color: #f00;
    font-weight:bold;
    font-size:25px
}