<app-search></app-search>
<app-dropdawn
placeholder="Filter by Region"
[values]="regionOptions"
[(value)]="regionFilter"
></app-dropdawn>
<div class="container">
    <div class="row">
        <div *ngFor="let country of data" class="col-md-4 country">
            <img [src]="[country.flags.png]" alt="Not found">
            <p class="country-property"> Country Name is : <span class="country-name">{{country.name.common}} </span></p>
            <p class="country-property"> Capital is : <span class="country-name">{{country.capital}}</span></p>
            <p class="country-property">Region is : <span class="country-name">{{country.region}}</span></p>
           
            <a [routerLink]="['/details/'+country.name.common]" class="read-more">Read More</a>
        </div>
    </div>
    
</div>
