.country{
    padding-bottom: 50px;
}

.country img{
    height:200px;
    width:80%;
    border-radius:4%
}
.country .country-property{
    padding-top:5px;
    color:#f00;
    font-weight:bold
}
.country-name{
    color:#000;
    font-weight:normal
}
.read-more{
    text-decoration: none;
    font-weight: bold;
}
.navBar{
    display:flex;
    flex-direction: row;
    margin-bottom:5%;
    
}
.navBar h1{
    font-size:25px;
    padding-left: 50px;
    padding-top: 50px;
    font-weight: bold;
    color: #f00
}