.search-conatiner{
    padding-top: 50px;
    margin-left: 25%;
    width: 150%;
    display:flex;
    flex-direction: row;

}
.search-conatiner input{
    padding:10px;
    width: 100%;
}
.search-conatiner button{
    border:none;
   margin-left: 15px;
    padding:12px 20px
}