.dropdown {
padding-left: 50px
}
.dropdown-label{
  margin-left: 250%;
  width: 200%;
 padding:5px 0;
 font-weight: bold;
  margin-top: 50%;
  border:1px solid #ddd;
}
   
  .filter{
    
    margin-left:25%;
    
  }
   
  
    label {
        display: flex;
        justify-content: space-between;
      }
 
  li {
    
    padding: 0.5rem;
    list-style: none;
    margin-left: 350%;
    border:2px solid #ddd;
    width: 200%;
  
  }